@page
@model anuR.Models.Login;


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>LogIn</h1>
<form class="" style=" margin: 0 25%" method="post" asp-action="Login">
    <div style="text-align:left;">
        @if (@Html.ValidationSummary() != null)
        {
            <div class="form-text">Invalid Credentials</div>
        }
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input class="form-control" type="text" name="email" placeholder="email"/>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input class="form-control" type="password" name="password" placeholder="password"/>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
    </div>
    <button type="submit" class=" btn btn-primary">Submit</button>
</form>
<p style="margin-top: 55px;">Doesn't have an account? <a asp-action="Register">Register</a>.</p>