@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="font">Welcome to anuR, Onboard righ now!</h1>
    
    <a class="btn btn-lg btn-secondary fw-bold border-white bg-white" style="color: black" asp-action="Login" asp-controller="Auth">Login</a>
    <a class="btn btn-lg btn-secondary fw-bold border-white bg-white" style="color: black" asp-action="Register" asp-controller="Auth">Register</a>
</div>
