@model List<Site>

@{
    ViewBag.Title = "title";
    Layout = "_ListLayout";
}
<div>
    <div class="input-group" style="margin-bottom: 20px">
        <div class="form-outline input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">
                    <i class="bi bi-search"></i>
                </label>
            </div>
            <input id="search-focus" onkeyup="myFunction()" type="search" id="form1" class="form-control" placeholder="Search"/>
        </div>
    </div>
    <div style="display: flex;flex-direction: row;justify-content: space-between">
        <ol id="userList" class="list-group  overflow-auto text-start" style="height: 90%;width: 100%">
            @foreach (Site site in Model)
            {
                <li>
                    <a href="@Url.Action("Site",new { site.Id })" class="list-group-item d-flex justify-content-between align-items-start active:hover list-group-item-action">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">@site.City</div>
                        </div>
                        <span class="badge bg-primary rounded-pill">@site.Users.Count</span>
                    </a>
                </li>
            }
        </ol>
    </div>
</div>

<script>
function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('search-focus');
  filter = input.value.toUpperCase();
  ul = document.getElementById("userList");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>