@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

html {
    font-size: 14px;
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;  
    scrollbar-width: none;
}

ol::-webkit-scrollbar , ul::-webkit-scrollbar {
    display: none;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

a{
    text-decoration: none;
}

a.nav-link:hover{
    color: #f8f9fa;
    border-bottom: solid 2px #f8f9fa;
}

a.nav-link{
    color: #d7d7d7;
    font-size: large;
}

h2 > a.nav-link:hover{
    color: #f8f9fa;
    border :none ;
}